:host ::ng-deep .ngx-datatable .datatable-header-cell {
     padding: .5rem 1rem !important;
     text-align: center !important;
}

:host ::ng-deep .ngx-datatable .datatable-body .datatable-body-row .datatable-body-cell {
     padding: .5rem 1rem !important;
     text-align: center !important;
     width: 247px !important;
}

.icon{
 margin-right: 30px;
 cursor: pointer;
}

.details-header {
    margin: 30px 15px;
    padding: 0px;
}

.departmentStatus  {
  color: #6c757d6b;
  padding: 10px
}

.status-confirmation {
  padding: 10px 0px;
  color: #fff;
  border-radius: 5px;
  transition-timing-function: ease;
}

@import '~@swimlane/ngx-datatable/release/assets/icons.css';