#delete_income_category{
    margin-right: 10px;
    }
    
#tableValue{
font-size: 2px;
opacity: 0.01;
}
    @media only screen and (max-width: 600px) {
        #delete_income_category{
            margin-right: 5px;
            }
      }