// .danger {
//   color: red;
// }

.card-body {
    background-color: white;
  }
  
  .row-color {
    background-color: whitesmoke;
  }
  
  .header-color {
    background-color: #ebe7e7;
  }
  h2 {
    color: #f1bfce;
  }
  
  .danger {
    color: red;
  }
  