
#tableValue{
    font-size: 2px;
    opacity: 0.01;
}
#delete_sale{
    margin-right: 10px;
    }
    
    
    @media only screen and (max-width: 600px) {
        #delete_sale{
            margin-right: 5px;
            }
      }