
.assign-btn {
    text-align: center;
    margin-top: 16px;
}

.close-pop-down {
    text-align: right;
    padding: 16px 0px;
}

.document-attach {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}