<div class="row">





  <div class="col-sm-12 col-md-6 col-lg-4">



    <div class="card">



      <a [routerLink]="['/', 'taskmanager','projects']">

        <div class="card-header d-block">



          <p class="mb-0">



            <a [routerLink]="['/', 'taskmanager','projects']">Task Manager</a>



          </p>



          <small class="d-block text-muted">Manage projects within your organization</small>



        </div>



        <div class="card-body px-0 py-4 rounded-bottom">



          <div style="" class="figure__container">



            <img src="assets/images/taskmanager.png" alt="Quabbly Task Manager"



            class="figure">



          </div>



        </div>

      </a>



    </div>



  </div>





    <div class="col-sm-12 col-md-6 col-lg-4">



      <div class="card">



        <a [routerLink]="['/', 'filemanager','myfile']">

          <div class="card-header d-block">



            <p class="mb-0">



                <a [routerLink]="['/', 'filemanager','myfile']">File Manager</a>



            </p>



            <small class="d-block text-muted">Manage your office files.</small>



          </div>



          <div class="card-body px-0 py-4  rounded-bottom">



            <div class="figure__container">



              <img src="assets/images/filemanager__filled.png" alt="Quabbly File Manager" class="figure">



            </div>



          </div>

        </a>



      </div>

    </div>



  <div class="col-sm-12 col-md-6 col-lg-4">



    <div class="card">



      <a [routerLink]="['/', 'email']">

        <div class="card-header d-block">



          <p class="mb-0">



              <a [routerLink]="['/', 'email']">Mailbox</a>



          </p>



          <small class="d-block text-muted">A mailbox with your domain name.</small>



        </div>



        <div class="card-body px-0 py-4  rounded-bottom">



          <div class="figure__container">



            <img src="assets/images/mail.png" alt="Quabbly File Manager" class="figure">



          </div>



        </div>

      </a>



    </div>



  </div>





  <div class="col-sm-12 col-md-6 col-lg-4">



    <div class="card">



      <a [routerLink]="['/', 'hr', 'employees']">

        <div class="card-header d-block">



          <p class="mb-0">



            <a [routerLink]="['/', 'hr', 'employees']">Human Resource Manager</a>



          </p>



          <small class="d-block text-muted">Manage your team efficiency.</small>



        </div>



        <div class="card-body px-0 py-4  rounded-bottom">



          <div class="figure__container">



            <img src="assets/images/hr.png" alt="Quabbly HR" class="figure">



          </div>



        </div>

      </a>



    </div>



  </div>



  <div class="col-sm-12 col-md-6 col-lg-4">



    <div class="card">



      <a [routerLink]="['/', 'accounting', 'customer']">

        <div class="card-header d-block">



          <p class="mb-0">



            <a [routerLink]="['/', 'accounting', 'customer']">Accounting</a>



          </p>



          <small class="d-block text-muted">Manage your businesses' accounts.</small>



        </div>



        <div class="card-body px-0 py-4  rounded-bottom">



          <div class="figure__container">



            <img src="assets/images/hr.png" alt="Quabbly Account" class="figure">



          </div>



        </div>

      </a>



    </div>



  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">



    <div class="card">



      <a [routerLink]="['/', 'quiz', 'list']">

        <div class="card-header d-block">



          <p class="mb-0">



            <a [routerLink]="['/', 'quiz', 'list']">Surveys & Assessments</a>



          </p>



          <small class="d-block text-muted">Manage your businesses' surveys and tests.</small>



        </div>



        <div class="card-body px-0 py-4  rounded-bottom">



          <div class="figure__container">



            <img src="assets/images/hr.png" alt="Quabbly Survey/Quiz Maker" class="figure">



          </div>



        </div>

      </a>



    </div>



  </div>



</div>



