<div>
<h3>Welcome, now read the quiz instruction carefully</h3>
<p>
  This documentation is to help you understand the template's structure. Please
  go through the documentation carefully to understand how this template is made
  and how to edit this properly. Basic HTML, CSS(SASS), JS(Typescript) and CLI
  knowledge is required to customize this template.
</p>
<p>
  If you have any questions that are beyond the scope of this help file, please
  feel free to get in touch.
</p>
<p>
  This documentation is to help you understand the template's structure. Please
  go through the documentation carefully to understand how this template is made
  and how to edit this properly. Basic HTML, CSS(SASS), JS(Typescript) and CLI
  knowledge is required to customize this template.
</p>
<p>
  If you have any questions that are beyond the scope of this help file, please
  feel free to get in touch.
</p>
<p>
  This documentation is to help you understand the template's structure. Please
  go through the documentation carefully to understand how this template is made
  and how to edit this properly. Basic HTML, CSS(SASS), JS(Typescript) and CLI
  knowledge is required to customize this template.
</p>
<p>
  If you have any questions that are beyond the scope of this help file, please
  feel free to get in touch.
</p>

<p>
  This documentation is to help you understand the template's structure. Please
  go through the documentation carefully to understand how this template is made
  and how to edit this properly. Basic HTML, CSS(SASS), JS(Typescript) and CLI
  knowledge is required to customize this template.
</p>
<p>
  If you have any questions that are beyond the scope of this help file, please
  feel free to get in touch.
</p>

<button class="btn btn-primary" type="submit" (click)="onSubmit()">Login</button>
</div>
