
.details-header {
    margin: 30px 15px;
    padding: 0px;
}


.ruler-nav {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.dash-wrapper {
    float: right;
}

.icn-spn {
	cursor: pointer;
}

.center_icon {
	text-align: center;
}
